/* layout.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
  }
  
  .layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width:99vw;
  
  }
  
  .header {
    background-color: #222;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header h1 {
    margin: 0;
    font-size: 1.8rem;
  }
  
  .logo {
    font-size: 2rem;
    margin-top: 0.3rem;
  }
  
  .nav-menu a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    font-weight: bold;
  }
  .nav-menu a:hover {
    text-decoration: underline;
  }
.nav-button{ 
  background-color: transparent;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border : none;
  border-color: transparent;
}
  
  .main-content {
    flex-grow: 1;
    padding: 2rem;
    background-color: #fff;
  }
  
  .footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 0.9rem;
  }
  
  .footer-links {
    margin-top: 0.5rem;
  }
  
  .footer-links a {
    color: #ccc;
    text-decoration: none;
    margin: 0 0.5rem;
  }
  
  .footer-links a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .footer-links span {
    color: #555;
  }
  