
.products-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
    justify-content: center;
  }

  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 15px;
    width: 260px;
    height: 330px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.2s ease;
  }
  
  .product-card:hover {
    box-shadow: 0 4px 12px rgb(0 0 0 / 0.2);
  }
  
  .product-card h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 1.2rem;
    text-align: center;
  }
  .image-container{ 
    position : relative;
    width:90%;
    height: 170px;
    overflow: hidden;
  }
  .product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
  }
  
  .product-card p {
    margin: 6px 0;
    font-size: 0.9rem;
    color: #333;
    text-align: center;
  }
  
  .product-card p strong {
    color: #111;
  }
  
  .product-card-link {
    text-decoration: none;
    color: inherit;
  }


.product-details {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  display : flex;
  align-items: center;
  justify-content: center;
}

.product-details h1 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.product-details-image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 0 auto 20px;
}

.product-details p {
  font-size: 16px;
  margin: 10px 0;
}

.product-details strong {
  color: #333;
}

.product-details p strong {
  margin-right: 5px;
}

.product-details p:last-child {
  font-weight: bold;
  font-size: 18px;
  color: green;
}

.product-details p:last-child strong {
  font-weight: bold;
}

.product-details p:last-child.out-of-stock {
  color: red;
}
